BattleTank/Content/StarterContent/
BattleTank/Content/Meshes/Tank/tank_fbx_Barrel.uasset
BattleTank/Content/Tex/BT17-Firing-M1A1-tank-in-Djibouti.uasset
BattleTank/Content/Tex/
BattleTank/Content/Meshes/
